body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fixed-inventory {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border-bottom: 2px solid #ccc;
    display: flex;
    justify-content: space-around;
    z-index: 1000;
}

.farm-container {
    display: grid;
    grid-template-columns: repeat(5, 80px); /* Поле 5x5 */
    grid-gap: 8px;
    margin-top: 80px; /* Отступ после закрепленного блока с ресурсами */
}

.farm-cell {
    width: 80px;
    height: 80px;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    cursor: pointer;
    position: relative;
}

.farm-cell img {
    width: 70%;
    height: 70%;
}

@media (max-width: 600px) {
    .farm-container {
        grid-template-columns: repeat(5, 60px);
    }

    .farm-cell {
        width: 60px;
        height: 60px;
    }

    .farm-cell img {
        width: 60%;
        height: 60%;
    }
}

.shop {
    margin-top: 20px;
    background-color: #f9f9f9;
    border: 2px solid #ccc;
    padding: 10px;
    width: 200px;
    text-align: center;
}
